.numberStepsStyle {
    padding: 3px 9px;
    border: 1px solid #ccc;
    border-radius: 100%;
    margin-right: 8px;
}

.numberStepsStyleActive {
    padding: 3px 9px;
    border: 1px solid #3b82f6;
    border-radius: 100%;
    margin-right: 8px;
}

.numberStepsStyleDone {
    padding: 3px 6px;
    border: 1px solid #3b82f6;
    border-radius: 100%;
    margin-right: 8px;
    background-color: #3b82f6;
    color: #fff;
}

.coverPhotoDisplay {
    width: 100%;
    height: 300px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.courseMaterialsDisplay {
    width: 100%;
    height: 300px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.courseMaterialsDisplayFile {
    width: 100%;
    min-height: 300px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
    padding: 5px;
}

.uploadCoverPhotoStyle {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.changeCoverPhotoStyle {
    cursor: pointer;
}
.changeCoverPhotoStyle:hover {
    color: #3b82f6;
}

.sessionDisplay {
    width: 100%;
    min-height: 200px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
    padding: 5px;
    margin-top: 20px;
}
